<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.listadecontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ListaDeControl">

        <!-- Declaración de WelcomeActivity como la actividad principal -->
        <activity android:name=".WelcomeActivity"
            tools:ignore="MissingClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- Declaración de RegisterActivity -->
        <activity android:name=".RegisterActivity" />

        <!-- Declaración de ErrorActivity -->
        <activity android:name=".ErrorActivity" />

    </application>

</manifest>